.main-area
  h3 Search App
  ui-view
    //- config button
    .configuration-area.row.valign-wrapper.right
      #opt-btn.btn-flat(ui-sref="options")
        .col.valign #[label.s-primary Options]
        .col.valign #[i.material-icons.s-primary settings]
    //- search input
    .query-area
      input#srchbox(placeholder="Enter Text Here...", ng-model="qterm", enter-trigger)
      #srchbtn.btn(ng-click="search(qterm)") Search
      .btn.tooltipped(ng-click="reset(); qterm = ''; focusSrch();") Clear
      .right
        .row
          small.col.s-primary(ng-if="opts.ranked && (relCount() == 0 || relCount() > 5)")
            | (Select 1 to 5 Relevant Results)
          .col.btn(
            ng-click="reRank(qterm)",
            ng-show="opts.ranked",
            ng-class="{disabled: (opts.ranked && (relCount() == 0 || relCount() > 5))}"
          ) Rerank
    //- results area
    .results-area
      .row.valign-wrapper.card(ng-repeat="h in hits")
        .col.s1.valign.left-align
          | {{$index + 1}}
        .result-content-area.section.col.s9.valign
          h6.result-title-area(ng-bind-html="h.htmlTitle")
          .s-primary(ng-bind-html="h.htmlSnippet")
          a(href="{{h.link}}", ng-bind-html="h.htmlFormattedUrl")
        .col.s2.valign.right-align
          .checks(ng-if="opts.ranked")
            span.left-align #[small Relevant #[br]]
            input.tooltipped(type="checkbox", id="rel-chbx-{{$index}}", ng-model="h.rel")
            label(for="rel-chbx-{{$index}}")
    .load-wheel.center-align(show-trigger="working")