
// defined colors
search-primary = silver
search-accent  = dodgerblue
search-panel   = #f8f8f8
off-black      = lighten(black, 21%)
off-gray       = lighten(black, 47%)


// main color classes

.s-primary
  color search-primary

.s-accent
  color search-accent

.off-black
  color off-black

.off-gray
  color off-gray

// some programming language colors

.lang-rust
  border-left 6px solid burlywood !important
.tiny-badge.tiny-rust
  background-color  burlywood
  color off-black !important

.lang-java
  border-left 6px solid darken(darkgoldenrod, 10%) !important
.tiny-badge.tiny-java
  background-color  darken(darkgoldenrod, 10%)
  color search-panel !important

.lang-ruby
  border-left 6px solid firebrick !important
.tiny-badge.tiny-ruby
  background-color  firebrick
  color search-panel !important

.lang-go
  border-left 6px solid lighten(royalblue, 10%) !important
.tiny-badge.tiny-go
  background-color  lighten(royalblue, 10%)
  color search-panel !important

.lang-python
  border-left 6px solid steelblue !important
.tiny-badge.tiny-python
  background-color  steelblue
  color search-panel !important

.lang-shell
  border-left 6px solid chartreuse !important
.tiny-badge.tiny-shell
  background-color  chartreuse
  color off-black !important

.lang-batchfile
  border-left 6px solid greenyellow !important
.tiny-badge.tiny-batchfile
  background-color  greenyellow
  color off-black !important

.lang-c
  border-left 6px solid dimgray !important
.tiny-badge.tiny-c
  background-color  dimgray
  color search-panel !important

.lang-cpp
  border-left 6px solid deeppink !important
.tiny-badge.tiny-cpp
  background-color  deeppink
  color search-panel !important

.lang-lisp
  border-left 6px solid violet !important
.tiny-badge.tiny-lisp
  background-color  violet
  color off-black !important

.lang-common-lisp
  border-left 6px solid turquoise !important
.tiny-badge.tiny-common-lisp
  background-color  turquoise
  color off-black !important

.lang-html
  border-left 6px solid tomato !important
.tiny-badge.tiny-html
  background-color  tomato
  color search-panel !important

.lang-javascript
  border-left 6px solid yellow !important
.tiny-badge.tiny-javascript
  background-color  yellow
  color off-black !important

.lang-nodejs
  border-left 6px solid off-black !important
.tiny-badge.tiny-nodejs
  background-color  off-black
  color lawngreen !important

.lang-haskell
  border-left 6px solid mediumseagreen !important
.tiny-badge.tiny-haskell
  background-color  mediumseagreen
  color search-panel !important

.lang-perl
  border-left 6px solid deepskyblue !important
.tiny-badge.tiny-perl
  background-color  deepskyblue
  color search-panel !important

.lang-php
  border-left 6px solid mediumpurple !important
.tiny-badge.tiny-php
  background-color  mediumpurple
  color search-panel !important

.lang-css
  border-left 6px solid indigo !important
.tiny-badge.tiny-css
  background-color  indigo
  color search-panel !important

.lang-clojure
  border-left 6px solid indianred
.tiny-badge.tiny-clojure
  background-color indianred
  color search-panel !important

.lang-puppet
  border-left 6px solid midnightblue !important
.tiny-badge.tiny-puppet
  background-color  midnightblue
  color search-panel !important

.lang-assembly
  border-left 6px solid darken(saddlebrown, 30%) !important
.tiny-badge.tiny-assembly
  background-color darken(saddlebrown, 30%)
  color search-panel !important

.lang-coffeescript
  border-left 6px solid darken(royalblue, 48%) !important
.tiny-badge.tiny-coffeescript
  background-color  darken(royalblue, 48%)
  color search-panel !important

.lang-c-sharp
  border-left 6px solid green !important
.tiny-badge.tiny-c-sharp
  background-color  green
  color search-panel !important

.lang-objective-c
  border-left 6px solid cornflowerblue !important
.tiny-badge.tiny-objective-c
  background-color  cornflowerblue
  color search-panel !important

.lang-scala
  border-left 6px solid darken(crimson, 10%) !important
.tiny-badge.tiny-scala
  background-color  darken(crimson, 10%)
  color search-panel !important

.lang-emacs-lisp
  border-left 6px solid mediumorchid !important
.tiny-badge.tiny-emacs-lisp
  background-color  mediumorchid
  color search-panel !important

.lang-groovy
  border-left 6px solid sandybrown !important
.tiny-badge.tiny-groovy
  background-color  sandybrown
  color off-black !important

.lang-nix
  border-left 6px solid mediumslateblue !important
.tiny-badge.tiny-nix
  background-color  mediumslateblue
  color search-panel !important

.lang-viml
  border-left 6px solid seagreen !important
.tiny-badge.tiny-viml
  background-color  seagreen
  color search-panel !important

.lang-tex
  border-left 6px solid darkolivegreen !important
.tiny-badge.tiny-tex
  background-color  darkolivegreen
  color search-panel !important
